@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: d;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./RobotoCondensed-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
